 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  background: black;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
}

.chart {
  background: gray;
}

div.bar{
  display: inline-block;
  width: 20px;
  height: 25px;
  background-color: teal;
  margin-right: 2px;
}

svg {
  width: 1000px;
  height: 500px;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: white;
  stroke: white;
  shape-rendering: crispEdges;
}
